.embed-container {
 position: relative;
 padding-bottom: 56.25%;
 height: 0;
 overflow: hidden;
 max-width: 100%;
 } 
.embed-container iframe,
.embed-container object,
.embed-container embed {

 position: absolute;
 top: 0;
 left: 0;
 width: 100%; 
height: 100%; 
}

.cardStyle {
        background-color: #ffffff;
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        /* height: 100%; */
        border: 1px solid #d6d7da;
    }
.imgStyle {
        max-width: 200px;
    }
.titleStyle {
        color: #000000;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 20px;
    }
.overviewStyle {
        color: #3a3a3a;
        font-size: 15px;
    }
.subtitleStyle {
        background-color: #efefef;
        min-height: 40px;
        border: 1px solid #d6d7da;
    }
.bottomStyle {
        margin: auto;
        width: 95%;
        padding-top: 10px;
    }
.dropdownStyle {
    background: url('./../image/star.png');
    width: 32px;
    height: 32px;
}