.button {
    background: url('./../image/searchBtnSm.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: #000;
    height: 38px;
    width: 40px;
  }
  .button:hover {
    background: url('./../image/searchBtnSm.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: #000;
    height: 38px;
    width: 40px;
  }